#* @vtlvariable name="i18n" type="com.atlassian.jira.util.I18nHelper" *#
#* @vtlvariable name="dto" type="com.atlassian.labs.jira.workflow.HipChatPostFunction.NotificationDto" *#
#* @vtlvariable name="user" type="com.atlassian.crowd.embedded.api.User" *#

#macro (issueType $dto)<img src="$dto.baseUrl$dto.issue.getIssueTypeObject().getIconUrl()" width="16" height="16">#end

#macro (issueKey $dto)#if($dto.issue.key)<a href="$dto.baseUrl/browse/$dto.issue.key"><b>$dto.issue.key</a>#end#end

#macro (issueSummary $dto)<a href="$dto.baseUrl/browse/$dto.issue.key"><b>$dto.issue.summary</a>#end

#macro (issue $dto)#issueType($dto)&nbsp;#if($dto.issue.key)<a href="$dto.baseUrl/browse/$dto.issue.key"><b>$dto.issue.key:</b> $dto.issue.summary</a>#else$dto.issue.summary#end#end

#macro (renderUser $user)<a href="$dto.baseUrl/secure/ViewProfile.jspa?name=$user.name">$user.displayName</a>#end

#macro (assignee $dto)#if($dto.issue.assignee)#renderUser($dto.issue.assignee)#end#end

#macro (user $dto)#if($dto.actor)#renderUser($dto.actor)#end#end

#macro (transition $dto)<b>$dto.firstStepName</b>&rarr;<em>$dto.actionName</em>&rarr;<b>$dto.endStepName</b> by #user($dto)#end

#macro (warning $dto $i18n)#if(!$dto.issue.key)<br><em>$i18n.getText("hipchat.notification.configwarning", $dto.issue.projectObject.name, $dto.issue.projectObject.key)</em>#end#end
