#* @vtlvariable name="req" type="javax.servlet.http.HttpServletRequest" *#
#* @vtlvariable name="webResourceManager" type="com.atlassian.plugin.webresource.WebResourceManager" *#
#* @vtlvariable name="i18n" type="com.atlassian.jira.util.I18nHelper" *#
#* @vtlvariable name="projectKeyEncoded" type="java.lang.String" *#
#* @vtlvariable name="hasHipChatApiToken" type="java.lang.Boolean" *#

$webResourceManager.requireResourcesForContext("hipchat-webpanel-context")
<div class="hip-chat-web-panel-icon">
    <p>$i18n.getText('hipchat.notifications.desc')</p>

    #if($hasHipChatApiToken)
        <div class="hip-chat-web-panel-link">
            <p><a href="$req.contextPath/plugins/servlet/hipchat/notifications/$projectKeyEncoded">$i18n.getText('hipchat.notifications.configure')</a></p>
        </div>
    #else
        <div class="hip-chat-web-panel-column">
            <h4>$i18n.getText('hipchat.notifications.no.hipchat')</h4>
            <p><a target="_blank" href="https://www.hipchat.com/sign_up" class="aui-button aui-button-primary">$i18n.getText('hipchat.notifications.get.hipchat')</a></p>
        </div>
        <div class="hip-chat-web-panel-column">
            <h4>$i18n.getText('hipchat.notifications.have.hipchat')</h4>
            <p><a href="$req.contextPath/secure/admin/HipChatConfiguration!default.jspa">$i18n.getText('hipchat.notifications.configure')</a></p>
        </div>
    #end
</div>
